<style type="text/css">
/* define width of table. Add 16px to width for scrollbar.           */
/* All other non-IE browsers.                                        */
div.tableContainer table {
	width: 756px
}

/* set table header to a fixed position. WinIE 6.x only                                       */
/* In WinIE 6.x, any element with a position property set to relative and is a child of       */
/* an element that has an overflow property set, the relative value translates into fixed.    */
/* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */
thead.fixedHeader tr {
	position: relative
}

/* set THEAD element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
thead.fixedHeader tr {
	display: block
}

/* define the table content to be scrollable                                              */
/* set TBODY element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* induced side effect is that child TDs no longer accept width: auto                     */
tbody.scrollContent {
    display: block;
    max-height: 262px;
    overflow: auto;
    width: 100%
}

tbody > tr > td{
    word-wrap:break-word;
}

</style>

<div id ="dashboard_table" style ="max-height: 380px;"><br>
  <%if @dashboard_data && @dashboard_data.size > 0 %>
  <div><p> <%= "Found #{@dashboard_data.size} record(s)"%> </p> </div>
  <table border="0" class="table_list scrollTable" id="sub_report_table" style="width:100%; border-bottom: 1px solid #CCCCCC;">
  <thead class="fixedHeader">
    <tr>
      <th style="width:70px">Website</th>
      <th style="width:70px">Page</th>
      <th style="width:70px">Date </th>
      <th style="width:110px">Visit Count</th>
      <th style="width:110px">IP address</th>
      <th style="width:110px">Browser</th>
      <th style="width:150px">Device</th>
    </tr>
  </thead>

  <tbody class="scrollContent">
      <% @dashboard_data.each do |data| %>
        <tr style="">
          
          <td class="left-border sub_center" style="width:70px;max-width:69px"><%= data[:website_id]%></td>
          <td class="left-border sub_center" style="width:70px;max-width:69px"><%= data[:page]  %></td>
          <td class="left-border sub_center" style="width:110px;max-width:109px"><%= data[:date] %></td>
          
          <td class="left-border sub_center" style="width:110px;max-width:109px"><%= data[:visit_count] %></td>
          <td class="left-border sub_center" style="width:150px;max-width:149px"><%= data[:ip] %></td>
          <td class="left-border sub_center" style="width:150px;max-width:149px"><%= data[:browser] %></td>
          <td class="left-right-border sub_center" style="width:68px;max-width:67px"><%= data[:device] %></td>
        </tr>
      <% end %>
  </tbody>
  </table>
  
  <%else%>
    <div> <p>There are currently no analytics data.</p> </div>
  <%end%>
</div>

