<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Analytics Tool" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Analytics Tool" %>">
    <%= stylesheet_link_tag "application", "dashboard", media: "all" %>
    <%= javascript_include_tag "application", "dashboard", "home" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
     function getip(json){
       client_ip = json.ip
    }
    </script>
   <script type="text/javascript" src="http://jsonip.appspot.com/?callback=getip"></script>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
  
</html>
